<li class="post-stub" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">
  <article>
   
    <a href="{{ .Permalink }}" itemprop="url" title="Go to post detail"> 
    <strong class="post-stub-title" itemprop="name">{{ .Title }}</strong>  
        {{ if .Description }}
            <p class="post-stub-description">{{ .Description | truncate 65 }}</p>
        {{ end }}
        {{ with .Params.featured }}
            <span class="post-stub-tag">Featured</span>
        {{ end }}
        </a>
         <aside class="post-stub-date" datetime="{{ .Date.Format "Jan 2" }}">{{ dateFormat (default "Mon, Jan 2, 2006" .Site.Params.dateFormat) .Date }}</aside> 
    
    </article>
</li>